// X-Small	None	<576px
// Small	sm	≥576px
// Medium	md	≥768px
// Large	lg	≥992px
// Extra large	xl	≥1200px
// Extra extra large	xxl	≥1400px

.nav__ul__li__a {
	display: none;
}
.nav__ul__li__a--icon {
	display: block;
}
@media (min-width: 576px) {
	.header__text__shop-name {
		font-size: 4rem;
	}
	.wrapper__section__card__description{
		clip-path: circle(200% at 50% 50%);	
	}
}
@media (min-width: 768px) {
	.nav__ul__li__a {
		display: block;
	}
	.nav__ul__li__a--icon {
		display: none;
	}
	.header__text__shop-name {
		font-size: 7rem;
	}
	.wrapper__section__card__description{
		clip-path: circle(0 at 50% 50%);	
	}
}
@media (min-width: 992px) {
	header__text__shop-name {
		font-size: 10rem;
	}
}
