@import "variables";
* {
	margin: 0;
	padding: 0;
	font-family: "Montserrat", sans-serif;
	font-family: "Roboto", sans-serif;
	font-size: 62.5%;
}
body {
	height: 500vh;
}
.nav {
	z-index: 10;
	width: 100vw;
	background-color: #000000;
	position: fixed;
	border-radius: 0px 0px 5px 5px;

	&__ul {
		position: relative;
		max-width: 1200px;
		margin: auto;
		display: flex;
		justify-content: space-evenly;
		&__li {
			list-style: none;
			&--logo {
				position: absolute;
				top: 0.4rem;
				left: 0.5rem;
				color: $text-color;
				font-size: 4rem;
				list-style: none;
				margin-right: 10rem;
				transition: color 0.3s;
			}
			&--logo:hover {
				color: $second-color;
			}
			&__a {
				color: $text-color;
				font-size: 2.5rem;
				padding: 2rem 1rem;
				line-height: 3rem;
				text-decoration: none;
				text-transform: uppercase;
				font-family: "roboto";
				letter-spacing: 2px;
				transition: color 0.3s;
			}
			&__a:hover {
				color: $second-color;
			}
		}
	}
}
.header {
	height: 100vh;
	background-image: url(/img/car-g723b20bd8_1920.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: 0px -150px;
	display: flex;
	justify-content: center;
	align-items: center;
	&__shadow {
		z-index: 1;
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: rgba(20, 20, 20, 0.5);
	}
	&__text {
		width: 100vw;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__text__shop-name {
		text-align: center;
		z-index: 5;
		color: $text-color;
		font-size: 4rem;
		text-transform: uppercase;
	}
	&__link {
		font-size: 10rem;
		color: $text-color;
		position: absolute;
		bottom: 3rem;
		z-index: 5;
	}
}
.wrapper {
	&__h1 {
		font-family: "Montserrat";
		font-size: 5rem;
		text-align: center;
		margin-top: 7rem;
		font-weight: bold;
		letter-spacing: 2px;
	}
	&__section {
		margin-top: 7rem;
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		&__card {
			position: relative;
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			margin-bottom: 5rem;
			height: 600px;
			width: 450px;
			background-size: cover;
			background-position: center;
			border-radius: 15px;
			box-shadow: 5px 5px 5px;
			overflow: hidden;
			&--1 {
				background-image: url(/img/car-gbce2eb509_640.jpg);
			}
			&--2 {
				background-image: url(/img/jeep-g4e4b5a84e_640.jpg);
			}
			&--3 {
				background-image: url(/img/engineer-g2daa928df_640.jpg);
			}
			&__description {
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				font-family: "montserrat";
				text-align: center;
				padding: 2rem;
				color: $text-color;
				font-size: 2rem;
				letter-spacing: 1px;
				line-height: 3rem;
				background-color: rgba(0, 0, 0, 0.5);
				clip-path: circle(0 at 50% 0%);
				transition: clip-path 1s;
			}
		}
		&__card:hover > .wrapper__section__card__description {
			clip-path: circle(200% at 50% 50%);
		}
	}
	&__services {
		margin-top: 10rem;
		display: flex;
		flex-direction: column;
		&__section {
			position: relative;
			display: flex;
			width: 100%;
			height: 500px;
			margin-bottom: 6rem;
			background-color: #000000;
			&__info {
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				font-family: "montserrat";
				text-align: center;
				padding: 2rem;
				color: $text-color;
				font-size: 2rem;
				letter-spacing: 1px;
				line-height: 3rem;
				background-color: rgba(0, 0, 0, 0.5);
				
			}
			&__card {
				margin-bottom: 5rem;
				height: 100%;
				width: 100%;
				background-size: cover;
				background-position: center;
				overflow: hidden;
				&--1 {
					background-image: url(/img/porsche-ga4af5797a_1280.jpg);
					background-position: -200px;
				}
				&--2 {
					background-image: url(/img/ford-g8864a54b8_1280.jpg);
				}
				&--3 {
					background-image: url(/img/motorbike-gc6390dac9_1280.jpg);
					background-position: 0px, -30px;
				}
			}
		}
	}
}

@import "media";
